<footer class="container-md">
  <div class="">
    <figure class="text-center">
      <blockquote class="blockquote">
        <p>
          Se acender uma lamparina para outra pessoa, iluminará também o seu
          próprio caminho
        </p>
      </blockquote>
      <a
        class="text-decoration-none"
        href="https://www.google.com/search?gs_ssp=eJzj4tDP1TcwzTZNN2D0EsrLTM7ILErNU0hJzCzOyM_LzAMAi24KBA&q=nichiren+daishonin&oq=&gs_lcrp=EgZjaHJvbWUqCQgAEC4YJxjqAjIJCAAQLhgnGOoCMg8IARAjGCcY6gIY8AUYngYyCQgCECMYJxjqAjIJCAMQIxgnGOoCMg8IBBAjGCcY6gIY8AUYngYyDwgFEC4YJxjHARjqAhjRAzIJCAYQIxgnGOoCMgkIBxAuGCcY6gLSAQozMDE4NTlqMGo3qAIIsAIB8QVNX-aeT0x1ag&sourceid=chrome&ie=UTF-8"
        target="_blank"
      >
        <figcaption class="blockquote-footer">
          Nichiren Daishonin em
          <cite title="As Escrituras de Nichiren Daishonin">Gosho</cite>
        </figcaption></a
      >
    </figure>
  </div>
  <div class="row text-center pt-4 pb-5 mb-5">
    <div class="col-md-12 box_inspiracoes">
      <p class="fs-2 titulo_footer">Minhas Inspirações :</p>
      <div class="text-nowrap fw-bold fs-4 fs-md-2 m-md-5">
        <div class="row">
          <div class="col-md-4">
            <p>
              <a
                class="color_insta_inspiracoes"
                href="https://www.instagram.com/artistic.arcade/"
                target="_blank"
                >@artistic.arcade</a
              >
            </p>
            <p>
              <a
                class="color_insta_inspiracoes"
                href="https://www.instagram.com/gearheadmind/"
                target="_blank"
                >@gearheadmind</a
              >
            </p>
          </div>
          <div class="col-md-4">
            <p>
              <a
                class="color_insta_inspiracoes"
                href="https://www.instagram.com/pixel_paintbox/"
                target="_blank"
                >@pixel_paintbox
              </a>
            </p>
          </div>
          <div class="col-md-4">
            <p>
              <a
                class="color_insta_inspiracoes"
                href="https://www.instagram.com/abminiart/"
                target="_blank"
                >@abminiart</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-6 col-md-4 d-flex align-items-center justify-content-center"
    >
      <a href="index.html">
        <img
          src="imagens/logo_perfil.png"
          alt="Logo World Pixelated"
          class="img-fluid m-2 tamanho_logo"
        />
      </a>
      <span class="text-nowrap fw-bold fs-4 fs-md-2 ms-4 m-md-5"
        >My Pixel Art</span
      >
    </div>
    <div
      class="col-md-4 d-flex align-items-center justify-content-center min_height"
    >
      <ul class="nav flex-column text-center">
        <li class="nav-item">
          <a
            class="nav-link cor_footer px-2 my-2 text-decoration-none"
            aria-current="page"
            href="index.html"
            >Menu</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link cor_footer px-2 my-2 text-decoration-none"
            href="quemsomos.html"
            >Quem somos ?</a
          >
        </li>
        <li class="nav-item">
          <div class="dropdown position-relative">
            <button
              class="btn dropdown-toggle px-2 my-2 cor_footer_dropdown"
              type="button"
              data-bs-toggle="dropdown"
              data-bs-flip="false"
              aria-expanded="false"
            >
              Temas
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item disabled" href="">Paisagens</a></li>
              <li><a class="dropdown-item disabled" href="">Carros</a></li>
              <li><a class="dropdown-item disabled" href="">Por do Sol</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <div class="">
        <a
          class="text-decoration-none"
          href="https://www.instagram.com/world_pixelated/"
          target="_blank"
        >
          <img
            src="imagens/logo_perfil.png"
            alt="Logo World Pixelated"
            class="img-fluid m-2 tamanho_logo"
            target="_blank"
          />
        </a>
        <a
          class="btn fw-bold fs-5 px-4 py-2 rounded-pill shadow-sm botao_seguir_insta"
          href="https://www.instagram.com/world_pixelated/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Seguir
        </a>
      </div>
    </div>
  </div>
</footer>
